{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock%}

{% block css_files %}

    <link rel="stylesheet" href="{% static "blog/post.css" %}"/>
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>

{% endblock %}

{% block content %}
 
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/me.jpg" %}" alt="Sagar - The Author of the blog"/>
            <h2>VINOD SAGAR'S BLOG</h2>
        </header>
        <p>Hi , I am Sagar and I love learning new tech and have hobby of clicking best part of Nature </p>
    </section>

   
    <section id="latest-posts">
        <h2>My latest thoughts</h2>
            <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
            </ul>
    </section>

    <section id="about">
    <h2>What i do </h2>
    <p>
        I love to do programming , i love to help others and i enjoy exploring the new technologies 
        in general
    </p>
    <p>
        My goal is to keep on growing as a developer - and if i could help you do 
        the same , i'd be very happy!
    </p>
    </section>

{% endblock %}